---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";


let mediumPosts: any[] = [];

async function fetchMediumPosts() {
  const response = await fetch(
    'https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@marcogarujo'
  );
  const data = await response.json();

  if (data.status === 'ok') {
    mediumPosts = data.items.map((item: { title: any; pubDate: any; link: any; author: any; thumbnail: any; }) => ({
      title: item.title,
      date: item.pubDate,
      link: item.link,
      author: item.author,
      thumbnail: item.thumbnail,
    }));
  }
}
await fetchMediumPosts();
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul id="listOfPosts">
      {mediumPosts.map((post) => (
        <li>
          <a href={post.link} target="_blank" rel="noopener noreferrer">{post.title}</a>
          <div style="display: flex; align-items: center;">
            <div style="margin-right: 8px; font-style: italic;">
              {new Date(post.date).toLocaleDateString('en-GB', { year: 'numeric', month: 'short', day: 'numeric' })}
            </div>
          </div>
          {post.thumbnail && <img src={post.thumbnail} alt={post.title} />}
        </li>
      ))}
    </ul>
  </section>
</PageLayout>
