---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";


let mediumPosts = [];

async function fetchMediumPosts() {
  const response = await fetch(
    'https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@marcogarujo'
  );
  const data = await response.json();

  if (data.status === 'ok') {
    mediumPosts = data.items.map((item) => ({
      title: item.title,
      date: item.pubDate,
      link: item.link,
      author: item.author,
      thumbnail: item.thumbnail,
    }));

    mediumPosts.forEach((post) => {
      console.log(`Post Title: ${post.title}`);
      console.log(`Post Published at: ${post.date}`);
      console.log(`Post Original Link: ${post.link}`);
      console.log(`Post Author: ${post.author} \n`);
      if (post.thumbnail) {
        console.log(`Post Thumbnail: ${post.thumbnail}`);
      }
    });
  }
}
await fetchMediumPosts();

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {mediumPosts.map((post) => (
        <li>
          <a href={post.link}>{post.title}</a>
          <div>Published at: {post.date}</div>
          {post.thumbnail && <img src={post.thumbnail} alt={post.title} />}
        </li>
      ))}
    </ul>
    <ul>
      {sortedPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.frontmatter.title}</a>
          <div>Published at: {post.frontmatter.date.toLocaleDateString()}</div>
        </li>
      ))}
    </ul>
  </section>
</PageLayout>
